<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Transaction</a>
    </li>
</ul>
